:root {
    --primary: #76dc87;
}

.btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;   
    border: none;
    white-space: nowrap;
}

.btn:hover {
    padding: 12px 26px;
    transition: all 0.3s ease-out;
    background-color: #2a2e35;
    color: var(--primary);
    border-radius: 4px;
    outline: none;
}
.btn--primary {
    background-color: var(--primary);
}
.btn--outline {
    color: aliceblue;
}

.btn--medium {
    padding: 12px 26px;
    border-radius: 4px;
    font-size: 18px;
    color: #2a2e35;
}
.btn--large {
    padding: 12px 26px;
    border-radius: 4px;
    font-size: 18px;
    color: #2a2e35;
}
