body {
    padding: 0;
    margin: 0;
    color: aliceblue;
}

.card-list {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
}
.card-list::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
.card-list::-webkit-scrollbar-thumb {
    background-color: #1c1f22;
    border-radius: 5px;
}
.card-list::-webkit-scrollbar-track {
    background-color: #12181b;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 370px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    overflow:auto;
    background-color: #1c1f22;
    border-radius: 16px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.2s;

}
.card:hover{
    transform: translateY(-1rem); 
}
.card:hover~.card{
    transform: translateX(100px);
}
.card:not(:first-child){
    margin-left: -100px;
}

.card:first-child{
    background: linear-gradient(45deg, rgba(250,130,132,1) 0%, rgba(255,94,154,1) 96%, rgba(255,73,105,1) 99%);
    justify-content: center;
}

.card:first-child .card-techstack,.card:first-child .card-description {
    display: none;
}

.card:not(:first-child) h2:hover {
    background: linear-gradient(90deg, rgba(250,130,132,1) 0%, rgba(255,94,154,1) 53%, rgba(255,73,105,1) 100%);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 2s;
}
.card-image{
    height: 100px;
    justify-content: center;
}
.card-image img {
    max-width: 100%;
    max-height: 100%;
    padding-top: 18px;
}
.card-description {
    height: 65px;
}
/* The Techstack */
.card-techstack {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4px;
    height: 70px;
}
.card-tech {
    list-style: none;
    padding: 5px;
    border: 2px solid #12181b;
    border-radius: 15px;
    color: #6d767a;
}
.video {
    background-color: #76dc87;
    color: #12181b;
}
.card-header {
    height: 64px;
}

@media screen  and (max-width: 600px) {
 
    .card:not(:first-child){
        margin-left: 20px;
    }
    .card:hover{
        transform: translateY(0); 
    }
    .card:hover~.card{
        transform: translateX(0);
    }
    .card-list {
        padding: 4rem 1.5rem;
    }
    .card{
        box-shadow: none;
    }
}