.navbar-items {
    background-color: #2a2e35;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;

}
.navbar-title {
    color: #fa8284;
    justify-self: start;
    cursor: pointer;
    margin-left: 20px;
    background-color: #2a2e35;
    font-size: 18px;
}
.navbar-logo {
    height: 80px;
    background-color: #2a2e35;

}
.navbar-logo img {
    object-fit: contain;
    height: 100%;
    background-color: #2a2e35;
    padding: 10px 0px;
}
.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
    background-color: #2a2e35;
}
.nav-menu li {
    background-color: #2a2e35;
}
.nav-links {
    color: aliceblue;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #2a2e35;
}
.nav-links:hover {
    background-color: #76dc87;
    border-radius: 4px;
    transition: all 0.4s ease-out;
    color: #2a2e35;
}
.nav-links-sign {
    display: none;
}
.fa-bars {
    color: aliceblue;
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar-items {
        position: relative;
        min-width: 280px;
        z-index: 2;
    }
    .nav-links{
        background-color: #363c45;
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .nav-links:hover{
        border-radius: 0;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-height: 400px;
        position: absolute;
        top: 80px;
        background-color: #363c45;
        opacity: 1;
        left: -100%;
        transition: all 0.5s ease;
    }
    .nav-menu li {
        background-color: #363c45;

    }
    .nav-menu.active {
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(20%, 0);
    }
    .navbar-title {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(58%, 110%);
    }
    .menu-icon i {
        display: block;
        position: absolute;
        color: #fa8284;
        background-color: #2a2e35;
        top: 0;
        right: 0;
        transform: translate(-110%, 100%);
        font-size: 1.6rem;
        cursor: pointer;
    }
    .nav-links-sign {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background-color: #76dc87;
        text-decoration: none;
        color: #2a2e35;
        font-size: 1.4rem;
    }
    .nav-links-sign:hover {
        background-color: #363c45;
        color: #76dc87;
        transition: all 250ms ease;
    }
    Button {
        display: none;
    }
}